body {
  text-align: center;
}

h1 {
  color: #333;
}

p {
  color: #666;
}

input {
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
}